.pillShape {
    border-radius: 30px;
    display: flex;
    padding: 15px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    overflow: hidden;
    width: '80%';
    margin-bottom: 1px;
}

.pillShape:hover {
    opacity: 0.5;
}

.searchBar {
    margin-top: 5%;
    color:  #9E9EA7ff;
    border-color: #FDF0FCff;
    border-width: 1px;
    /* margin-top: 5%; */
    color:  #9E9EA7ff;
    border-color: #C1C1C7ff;
    box-shadow: 1px 1px 5px 5px #FDF0FCff;
}
.input{
    width: 65vw;
}
.paginationContainer{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.paginationContainer button, .paginationContainer span  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:  20px;
    text-align: center;
    text-justify: newspaper;
    height:  20px;
    width:  20px;
    border-radius:  205px;
    margin:  5px;
}

.previousPageBtn {
    background-color: #FDF0FCff;
}

.currentPageBtn {
    background-color: #FFEDCBff;
}

.nextPageBtn {
    background-color: #DCF3FEff;
}

.header {
    text-align: center;
    font-size: 30px;
    
}

.header p {
    display: inline-flex;
    height:  20px;
    width:  20px;
    padding:  20px;
    margin:  1px;
    border-radius:  50%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

