.pillShape {
    border-radius: 30px;
    display: flex;
    padding: 15px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.searchBar {
    background-color: rgba(255, 0, 212, 0.612);
}

.paginationContainer{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.paginationContainer li {
    display: inline-flex;
    padding: 15px;
    border-radius: 205px;
    margin: 5px;
}

